RewriteEngine On

RewriteRule /?\.htaccess$ - [F,L]

RewriteCond %{REQUEST_URI} !^/asset
RewriteRule ^asset/(.*)$ .src//asset/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
